.about{
    display:flex;
    justify-content:center;
    align-content:center;
    font-size:1.3em;
    color:var(--secondary);
    margin: 5vh 15%;
}
/* .about{
    font-size:1.3em;
    color:var(--secondary);
    margin: 5vh 15%;
    width:50%;
} */
.about .image{
    width:60% !important;
    margin-right:2%;
    
}
.quote{
    font-size:50px;
    color: var(--highlight);
;    
}
p{
    line-height:2;
}