.bottom{
    background:var(--secondary);
    height:10vh;
    margin-top: 5vh;
    width:100%;
    /*Margin collapse so need display:flex*/
    display: flex;
    justify-content:center;
    align-items: center;
}
.icons{
    /* grid-row-gap: 3rem; */
    /* margin: 5vh 5%; */
}
.icon{
    height: 2rem;
    width: 2rem;
    margin: 0 5px;
}
