:root {
  --primary: #002877;
  --secondary: #F9FAFB;
  --grey: #707682;
  --highlight: #FFD700 ;
  --green:  #2E8B57;
}
/* #E4DCCF
#707682
#2E8B57 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.section-header{
  margin: 5vh 5%;
  font-style:bold;
  color: var(--highlight);
  font-size:2em;
  text-align:center;
  text-transform:uppercase;
  letter-spacing: .1rem;
}