
.roster{

    overflow-x: scroll;
}
.roster-year{
    border-radius: 2px;
    padding:5px;
    font-size:1.05rem;
    width:auto;
    margin: 0 15% 10px 15%;
    border:none;
    background-color: var(--light-grey);
    color:var(--grey);
    /* background-image: url(./images/arrow.svg);
    background-repeat:no-repeat;
    background-position: 94% 50%; */
}
.roster-year:hover{
    background-color: var(--grey);
}
td{
    white-space: nowrap
}