/* .schedule{
    background-image:url('mitch.png');
} */
/*Table for schedule*/

.background{
    z-index:-1;
    position:absolute;
    opacity: 0.2;
    object-fit: cover;
    object-position: center;
    height: 100vh;
    width:100vw;
    overflow-x: auto;
    overflow:hidden;
    /* transition: all 1s ease-in-out; */
}
.background.active{
    position:fixed;
    top:12vh;
    left:0;
}
.schedule {
    overflow-x: scroll;
    width: 70%;
    margin: 0 15%;
    /*Gets rid of extra space between td*/
          
}

table{
    border-collapse: collapse;
    width: 100%;
}

/*Have some schedule settings in bigger screen view*/
.row {
    height: 10vh;

}

.row:nth-child(odd) {
    background-color: var(--secondary);

}
td:nth-child(1):not(.schedule){
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
/*Rounds corner of logo area for table row*/
td:nth-child(1) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left:10px;
}

/*Rounds corner of date (TBD) area for table row*/
td:nth-child(4) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


.vs {
    background-color: var(--primary);
    color: white;
    padding: 0 4px;
    font-size: 0.7em;
}
.at {
    font-size: 0.7em;
    background-color: var(--grey);
    color:white;
    padding: 0 4px;
}
.win{
    color: var(--green);
}
.loss{
    color: red;
}
.schedule-logo {
    max-width: 8vh;
    max-height: 8vh;
    object-fit: fill;

}