.side-menu{
    position:absolute;
    width:100%;
    height:100vh;
    left:0;
    top: 100px;
    background:var(--grey);
    display:flex;
    flex-direction:column;
    align-items:start;
}
.side-link{
    margin: 6vh 5% 0 5%;
    text-decoration: none;
    color:white;
}
.side-button{
    background-color:var(--grey);
    color:var(--secondary);
    border-radius:6px;
    font-weight: bold;
    height:3em;
    width:auto;
    border: 2px solid white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.side-button:hover{
    /* background-color: var(--darker-grey); */
    color: var(--highlight);
    border-color: var(--highlight);
}
.side-link:hover{
    color:var(--highlight);
}